.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titles {
}

.title {
  animation-name: blacktowhite;
  animation-duration: 0.5s;
  font-size: 36px
}

.subtitle {
  animation-name: blacktowhite;
  animation-duration: 0.5s;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button {
  animation-name: blacktowhite;
  animation-duration: 0.5s;
}

input {
  max-width: 60px;
}

.inputNumbers {
  animation-name: blacktowhite;
  animation-duration: 0.5s;
  margin-top: 40px;
}

.Disclaimer {
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  font-size: 10px;
  color: gray;
  margin-bottom: -20px;
  left: 20px;
  right: 20px;
  animation-name: blacktowhite;
  animation-duration: 0.5s;
}

@keyframes blacktowhite {
  from {opacity: 0 ;}
to {opacity: 1;}
}

.calculations {
font-size: 14px;
}

.oneRM {
  margin-top: 30px;
animation-name: blacktowhite;
animation-duration: 0.5s;
}

.fiveRM {
animation-name: blacktowhite;
animation-duration: 0.8s;
}

.tenRM {
animation-name: blacktowhite;
animation-duration: 1.1s;
}

/* flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  font-size: 10px;
  color: gray;
  margin-bottom: -20px;
  left: 20px;
  right: 20px; */